<!doctype html>
<html>
  <head>
    <title>FSA Hygiene Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/assets/app.css">
  </head>
  <body>
    <div class="o-container">
      <%- include partials/authorities.ejs %>
      <%- include partials/ratings.ejs %>
    </div>
  </body>
</html>
